<h3>Find by lastName</h3>
<div style="width: 300px">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastName">Last name</label><input type="text"
        class="form-control" id="lastName" required [(ngModel)]="lastName"
        name="lastName">
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<ul>
  <li *ngFor="let customer of customers">
    <h4>{{customer.id}} - {{customer.firstName}} {{customer.lastName}}</h4>
  </li>
</ul>
